<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-this" id="myHuiZhen"><a href="/index">我的盘点</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">盘点管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" id="dep_manage">资产数据</a></dd>
                    <dd><a href="javascript:;" id="person_manage">用户管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>