{{template "block/top_item.html" .}}
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item " id="myHuiZhen"><a href="/item">我的盘点</a></li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">盘点管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/card" id="dep_manage" class="layui-this">资产数据</a></dd>
                    <dd><a href="javascript:;" id="person_manage">用户管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-- 内容主体区域 -->
<h1 align="center">资产明细</h1>
<div class="layui-body">
    <table class="layui-hide" id="assets_table" lay-filter="test" lay-filter="user"></table>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="demoTable">
        <div class="layui-input-inline" style="width: 150px;">
            <select name="modules" lay-verify="required" id="select_dep" lay-search="">
                <option value="">全部</option>
                {{range .DepList}}
                <option value="{{.UserDep}}">{{.UserDep}}</option>
                {{end}}
            </select>
        </div>
        <div class="layui-inline">
            <input class="layui-input" id="assets_code" autocomplete="off" placeholder="请输入资产编号">
        </div>
        <button class="layui-btn" data-type="reload" lay-event="ss" style="margin-left: 15px">搜索</button>
    </div>
</script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#assets_table'
            , url: '/data/table/cards'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports']
            , title: '用户数据表'
            , cols: [[
                {field: 'card_no', title: '资产编号', cellMinWidth: 100, fixed: 'left', unresize: true, sort: true}
                , {field: 'name', title: '资产名称', cellMinWidth: 120}
                , {field: 'spec', title: '规格', cellMinWidth: 150}
                , {field: 'place', title: '位置', width: 225}
                , {field: 'user_dep', title: '使用部门', cellMinWidth: 120}
                , {field: 'user', title: '使用人', cellMinWidth: 120}
            ]]
            , id: 'assets'
            , page: true
        });
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'ss':
                    var select_belong_dev = layui.$("#select_dep").val();
                    table.reload('assets', {
                            where: {
                                depName: layui.$('#select_dep').val()
                                , assetsNo: layui.$('#assets_code').val()
                            }
                            ,
                            page: {
                                curr: 1
                            }
                        }
                    );
                    layui.$("#select_dep").val(select_belong_dev);
                    break;
            }
        });
    });
</script>
{{template "block/bottom_mesg.html" .}}

